body {
	background-image: url(images/Fogatbeach.jpg);
	margin: 0px;
	padding: 0px;
	height: 100%;
	width: 100%;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	overflow: scroll;
}
#Head {
	/*background-image: url(images/Porchslate3.png);*/
	/*background-color: #000000;*/
	margin: 0px;
	padding-top: 00px;
	height: 200px;
	width: 100%;
}
.div1 {
	margin: 0px;
	padding: 0px;
	height: auto;
	width: auto;
	position: absolute;
	left: 100px;
	top: 20px;
	color: #FFF;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
}
.div2 {
	
	height: 300px;
	width: 400px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	position: inherit;
}

.div3 
{
	color: #801616
	padding-Top 0px;
	height: 300px;
	width: 400px;
	margin-top: 30px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 48px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
}

.div4 {
	background-color: #4b1414;
	color: #fff;
	padding: 0px;
	padding-bottom: 0px;
	height: 80px;
	width: 100%;
	margin-top: 10px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 48px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
}

.div5 {
	color: #000;
	padding-Top: 100px;
	height: 0%
	width 100%;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-size: 48px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
}

.div6 {
	color: #000;
	padding-Top: 10px;
	height: 0%
	width 25%;
	margin-top: 0px;
	margin-right: 0 PX;
	margin-bottom: 0px;
	margin-left: 0PX;
	font-size: 048px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	text-align: center;
}

.spacer {
	
	height: 1px;
	width: 1000px;
	color: #000;
	margin-top: 0px; 
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 0px;
	padding-bottom: 0px;
	padding-left: 1px;
	z-index: 5000; 
}
.Blocks {
	text-align: left;
	text-size-adjust: 24px;
	height: 100px;
	width: 200px;
	border-top-width: thin;
	border-right-width: thin;
	border-bottom-width: thin;
	border-left-width: thin;
	border-top-style: solid;
	border-right-style: solid;
	border-bottom-style: solid;
	border-left-style: solid;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	padding-top: 0px;
	padding-right: 10px;
	padding-bottom: 0px;
	padding-left: 0px;
	float: left;
}
.textCenter {
/*	background-color: #CCC;*/
	padding: 0px;
	height: 400px;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	color: #000;
	text-align: center;
}
.BoxAndLinks {
	float: left;
	height: 125px;
	width: 125px;
	border: thin solid #000;
}


.NAV {
	padding: 0px;
	height: 325px;
	width: 1000px;
	margin-top: 0px;
	margin-right: auto;
	margin-bottom: 0px;
	margin-left: auto;
	text-align: center;
	border-top-width: thin;
	border-top-style: solid;
	border-top-color: #000;
	border-right-color: #000;
	border-bottom-color: #000;
	border-left-color: #000;
	float: none;
}
.text2 {
	margin: 0px;
	padding: 0px;
	float: left;
	height: 250px;
	width: 200px;
	font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
	border: thin solid #000;
}
.textbox {

	margin: 0px;
	padding: 0px;
	float: left;
	height: 275px;
	width: 200px;
	text-align: left;
	font-size: 18px;
	font-weight: bolder;
}

/* unvisited link */
a:link {
  color: #000;
}

/* visited link */
a:visited {
  color: #000;
}

/* mouse over link */
a:hover {
  color:red;
}

/* selected link */
a:active {
  color:#000;
}
